@font-face {
    font-family: SA;
    src: url(../fonts/SF-UI-Display-Ultralight.ttf);
}

@font-face {
    font-family: SAL;
    src: url(../fonts/SF-UI-Text-Light.ttf);
}

::-webkit-scrollbar{
  width:0;
}

.slider{
  height: auto;
  width: 100vw;
  background-color: white;
}

.slider img{
  width: 1000px;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  height: auto;
  color: black;
  font-family: SA;
  font-size: 1.2em;
  position: fixed;
  font-weight: bold;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.4s ease;
}
.nav a{
  text-decoration: none;
  color: black;
}

.nav a :hover{
  font-size: 1.1em;
  font-weight: bold;
  transition: all 0.4s ease;
}

.nav img{
  position: absolute;
  left: 5em;
  top: 0.3em;
  width: auto;
  height: 2.6em;
}

.sticky {
  height: auto;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.6)
}

.nav p{
  margin: 1em;
}

.nav form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.nav #don{
  width: 7em;
  height: auto;
}

.hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
}
@keyframes fades {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
body {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    margin: 0;
    width: 100vw;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    background-size: cover;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.header img {
    width: 30vw;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 16vh;
}

.header h1 {
    font-family: SA;
    font-size: 60px;
    text-align: center;
    color: #fff;
    font-weight: lighter;
    margin: 0;
}
.header a {
    text-decoration: none;
    align-self: auto;
}
.moto {
    margin: 0;
}
.buttonMore {
    align-self: flex-end;
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
}

.header h2 {
    margin: 4px;
    font-family: SA;
    font-weight: bold;
    color: #fff;
}
.render {
    margin: 0;
    display: flex;
    width: auto;
    height: auto;
    position: relative;
    background-color: #F7F7F7;
}
.render img {
    width: 100vw;
    height: auto;
    position: absolute;
    left: 0;
    z-index: 1;
}
img #render-prod {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 0;
}
#render-p {
    position: relative;
    height: 100%;
    width: 100vw;
    opacity: 0;
}
#img1, #img2, #img3, #img4, #img5, #img6, #img7, #text {
    opacity: 0;
}

.contacts{
  display: flex;
  text-align: center;
  height: auto;
  color: white;
  font-family: SA;
  margin: 70px;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
}

.contacts h2{
  color: white;
  font-size: 70px;
}
.lala{
  font-size: 40px;
  text-align: center;
  order: 1;
}
.social{
  border-radius: 40px;
  margin-top: 5vh;
  background-color: rgba(255, 255, 255, 0.8) !important;
  flex-flow: row;
  order: 2;
}
.social img{
  width: 60px;
  margin: 5px;
}

.about{
  display: flex;
  background-image: url(../img/bgAbout.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
  font-family: SA;
  font-weight: lighter;
  font-size: 2.5vw;
  color: white;
}

.text{
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  width: 50vw;
  height: 80vh;
  left: 0;
}

.text-red{
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 2em;
  height: auto;
  font-family: SA;
  text-align: right;
  font-weight: lighter;
  font-size: 1em;
  color: #AF2129;
}

.text-black{
  display: block;
  width: 100%;
  color: black;
  padding: 0;
  height: auto;
  font-family: SA;
  font-size: 1em;
}

.text-black a{
  color: black;
  text-decoration: none;
}

.text-black a:hover{
  text-decoration: underline;
}

.constr{
  background-color: #3A3A3C;
  display: block;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}
.constr img{
  margin: 0;
  width: 100vw;
  height: auto;
  padding: 0;

}

.classic img{
  width: 100vw;
  height: auto;
}

.classic{
  margin: 0;
  background-color: #3A3A3C;
}

.donate{
  display: flex;
  flex-direction: column;
  font-size: 3em;
  font-family: SA;
  color: white;
  font-weight: lighter;
  background-color: #3A3A3C;
  width: 100vw;
  height: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

@media all and (orientation: portrait) {
.about{
  height: 30vh;
}
.nav{
  font-size: 1.5em;
  font-weight: bold;
}
 }
